.AboutContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    margin: 0;
}

.h1Div {
    padding-left: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.textContainer {
    width: '100%';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.text2Container {
    width: '100%';
    display: flex;
    flex-direction: column;
    align-items: center;
}
