.r3btn{
    background-color: rgba(255, 255, 255, 0.1);
    color:rgb(255, 255, 255);
    font-size: 14px;
    font-family: nasalization;
    width: 50px;
    height: 30px;
    border-radius: 8px;
    border: 1.5px solid #09abfd;
    box-shadow: 0 0 15px 10px rgba(9, 171, 253, 0.4);
    transition: background-color 0.2s linear, color 0.3s linear, box-shadow 0.4s linear, width 0.1s linear, height 0.1s linear;
}

.r3btn:hover {
    box-shadow: 0 0 15px 13px rgba(9, 171, 253, 0.6);

}
  
.mousedown {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    width: 45px;
    height: 25px;
}

@media screen and (max-width: 500px) {
    .mousedown {
        background-color: rgba(255, 255, 255, 0.1);
        color:rgb(255, 255, 255);
        width: 50px;
        height: 30px;
    }
  }

  @media screen and (max-width: 500px) {
    .r3btn:hover {
        font-size: 14px;
    }
  }