.servContent {
    max-width: 1200px;
}

.servBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    max-width: 1200px;
}

.servText {
    text-align:left;
    margin-left: 30px;
    line-height: 35px;
}

.servTextH {
    margin-bottom: -20px;
}

p {
    margin: 5px;
}

h3 {
    margin: 10px 5px;
}

.servStick {}

.servLine {}