.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #d3d3d3;
}

.text {
    width: 450px;
    margin: 0 20px;
}

.head {
    margin-bottom: -30px;
}

@media screen and (max-width: 890px) {
    .head {
        margin-bottom: -10px;
    }
  }

  @media screen and (max-width: 890px) {
    .text {
        margin: 10px;
    }
  }

  @media screen and (max-width: 500px) {
    .text {
        width: 300px;
    }
  }
