.ContactContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    margin: 0;
    text-align: center;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}

@media screen and (max-width: 890px) {
    .infos {
        flex-direction: column;
        margin-top: 90px;
    }
  }

  @media screen and (max-width: 890px) {
    .ContactContent {
        margin-top: 40px;
    }
  }

  @media screen and (max-width: 890px) {
    .hContact {
        width: 350px;
        line-height: 40px;
    }
  }