.homeBody {
    background-image: url("../../assets/background/bgHero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 105vh;
    background-position: center center;
    width: 100%;
}

@media screen and (max-width: 1050px) {
    .homeBody {
    height: auto;
    }
  }

  @media screen and (max-width: 1049px) {
    .homeBody {
        height: 100vh;
    }
  }

@media screen and (max-width: 890px) {
    .homeBody {
        height: 100vh;
    }
}

.HomeContent {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    max-width: 1200px;
    margin: 0px auto;
}

@media screen and (max-width: 890px) {
    .HomeContent {
        margin-left: -40px;
        margin-right: 20px;
    }
}

.HomeH1 {
    margin-top: -20px;
    margin-bottom: 0px;
}

@media screen and (max-width: 890px) {
    .HomeH1 {
        margin-top: 50px;
        margin-bottom: 0px;
    }
}

.HomeH2 {
    margin-bottom: 80px;
}

@media screen and (max-width: 890px) {
    .btnDiv {
        margin-left: 25px;
    }
}