.homeBody {
    background-image: url("../../assets/background/bgHero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 105vh;
    background-position: center center;
    width: 100%;
}

@media screen and (max-width: 1050px) {
    .homeBody {
    height: auto;
    }
  }

.HomeContent {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    max-width: 1200px;
    margin: 0px auto;
}

.HomeH1 {
    margin-bottom: -20px;
}

.HomeH2 {
    margin-bottom: 120px;
}