img {
    max-width: 150px;
}

.content{
    display: flex;
    flex-direction: row;
}

.space {
    width: 40px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: 'Nasalization';
    padding: 6px;
    border-radius: 4px;
    transition: font-size 0.3s ease;
}

a:hover {
    font-size: 20px;
}

.divA {
    display: flex;
    flex-direction: column;
}

.divP {
    margin-top: -35px;
}

.divH {
    margin-top: -35px;
}


