img {
    max-width: 150px;
}

.content{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 890px) {
    .content {
        flex-direction: column;
    }
  }

.space {
    width: 40px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: 'Nasalization';
    padding: 6px;
    border-radius: 4px;
    transition: font-size 0.3s ease;
}

a:hover {
    font-size: 20px;
}

.divA {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 890px) {
    .divA {
        margin-bottom: 40px;
    }
  }

.divP {
    margin-top: -35px;
}

@media screen and (max-width: 890px) {
    .divP {
        margin-top: -10px;
    }
  }

.divH {
    margin-top: -35px;
}

@media screen and (max-width: 890px) {
    .divH {
        margin-top: -10px;
    }
  }


