body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url("./assets/background/bckgroundblack.png");
  background-size: auto;
  background-repeat: repeat;

}

@font-face {
  font-family: 'Couture';
  src: url('./assets/fonts/couture-bld.otf') format('opentype');
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/Futura\ Medium\ Italic\ font.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaLight';
  src: url('./assets/fonts/Futura\ Light\ Italic\ font.ttf') format('truetype');
}

@font-face {
  font-family: 'Nasalization';
  src: url('./assets/fonts/nasalization-rg.otf') format('opentype');
}

h1 {
  font-family: 'Couture';
  font-size: 90px;
  color: white;
}

h2 {
  font-family: 'Futura';
  font-size: 30px;
  color: #a1a1a1;
}

h3 {
  font-family: 'Couture';
  font-size: 30px;
  color: white;
}

p {
  font-family: 'Futura';
  font-size: 20px;
  color: #a1a1a1;
}

header nav {
  display: flex;
  padding-top: 15px;
  padding-right: 10px;
  height: 200px;
  gap: 16px;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  /* background-image: url("./assets/background/earth.svg");
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 20px 40px 20px #3c709e; */
}

.homeImg {
  margin-left: 45px;
  margin-right: auto;
}

.miniLogo {
  width: 80px;
  transition: width 0.3s ease;
}

.miniLogo:hover {
  width: 85px;
}

header nav a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: 'Nasalization';
  padding: 6px;
  border-radius: 4px;
  transition: font-size 0.3s ease;
}

header nav a:hover {
    font-size: 20px;
}

header nav a.active {
  color: #09abfd;
}